POSTGRES_USER=app
POSTGRES_PASSWORD=123qwe
POSTGRES_DB=tickets_database
DB_HOST=db

SECRET_KEY=tu_clave_secreta_muy_larga_y_aleatoria
DEBUG=False
ALLOWED_HOSTS=*

REDIS_URL=redis://redis:6379/0

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin123